.container {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(225px, 15vw) 6fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / -1;
}

.menu {
    grid-row: 1 / -1;
}

.container > div:nth-child(3n) {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 2fr;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.container > div:nth-child(3n) > .projects {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 0.5fr));
}

.announcements {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / -1;
    grid-row: 2 / -1
}