* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container > div {
    display: flex;
    height: 100%;
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;

    --menu-background-color: #15283c;
    --button-color: #ea580c;
    --menu-font-color: #94a3b8;
    --menu-hover-background: rgba(81, 97, 114, 0.226);
    --menu-hover-color: #f1f5f9;
    --header-background-color: #f7f8fc;
    --content-background-color: #e2e8f0;
}

.content > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: var(--content-background-color);
}



.announcements {
    border: solid 1px #5c6cff;
}

.trending {
    border: solid 1px #ff5c5c;
}

/* H E A D E R */
.header {
    background-color: var(--header-background-color);	
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.25);
    flex-flow: column wrap;
}

.search-tab {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 70%;
}

#search-btn {
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 15px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#search-btn:hover {
    color: white;
    background-color: #ea580c;
    transform: scale(1.05);
}

#search-btn:active {
    box-shadow: 0px 0px 5px rgba(81, 97, 114, 0.9);
    transform: scale(.95);
}

#search-bar {
    width: 80%;
    height: 40px;
    border-radius: 20px;
    padding: 20px 25px;
    border: 0;
    background-color: var(--menu-font-color);
    color: white;
    font-weight: bold;
}

::placeholder {
    color: white;
    opacity: 0.4;
}

#search-bar:focus {
    outline: none;
    transform: scale(1.02);
}

#other-btn {
    border: 0;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#other-btn:hover {
    color: white;
    background-color: rgb(234, 88, 12);
    box-shadow: 0px 0px 5px rgba(234, 88, 12, 0.9);
    transform: scale(1.05);
}

#other-btn:active {
    color: white;
    box-shadow: 0px 0px 5px rgba(81, 97, 114, 0.9);
    transform: scale(0.95);
}

.search {
    border: solid 5px red;
    width: ;
}

.buttons {
    position: relative;
    right: 0%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar {
    padding: 20px 50px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.sec-toolbar {
    padding: 20px 50px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.button-bar {
    display: flex;
    align-items: center;
}

#overview {
    margin: 0px;
    font-size: 30px;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    color: #15283c;
}

.button-bar > button {
    margin-left: 15px;
    color: white;
    background-color: rgb(234, 88, 12);
    font-weight: bold;
    border: 0;
    padding: 10px 30px;
    font-size: 18px;
    height: 42px;
    border-radius: 22px;
}

.button-bar > button:hover {
    transform: scale(1.05)
}

.button-bar > button:active {
    box-shadow: 0px 0px 5px rgba(234, 88, 12, 0.9);
    transform: scale(0.95);
    cursor: pointer;
}

/* M E N U */
.menu {
    background-color: var(--menu-background-color);
    flex-flow: column wrap;
}

.user-el {
    width: 100%;
    padding: 20px 0;
    border-bottom: solid 2.5px var(--button-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--menu-hover-background);
    height: 20%;
}

#user--img {
    width: 100px;
    height: 100px;
    border: solid 5px var(--menu-hover-color);
    border-radius: 50px;
}

#user--name {
    color: var(--menu-hover-color);
    font-size: 20px;
    margin: 5px 0 0;
}

.sidebar-nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 80%;
}

.main--nav, .utility--nav {
    padding: 0;
}

.sidebar-nav > ul {
    list-style: none;
}

#nav---el {
    display: flex;
    flex-flow: row wrap;
    height: 60px;
    align-items: center;
    padding: 0 35px;
    cursor: pointer;
}

#nav---el:hover {
    background-color: var(--menu-hover-background);
    border-left: solid 5px var(--button-color);
    font-weight: bold;
    opacity: 1;
}

#nav---el:active {
    transform: scale(0.95);
}

#nav---el > p:hover{
    color: var(--menu-hover-color);
}

#nav---el > img{
    height: 20px;
    margin-right: 15px;
    opacity: 0.5;
}

#nav---el > p{
    font-size: 18px;
    color: var(--menu-font-color)
}

/* P R O J E C T S */
.projects {

}

.project-card {
    border-left: solid 10px var(--menu-font-color);
    background-color: var(--header-background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(81 97 114 / 25%);
    padding: 20px;
    height: 100%;
    width: 100%;
}

.project-card:hover {
    transform: scale(1.03);
}

#project--title {
    height: 10%;
    font-size: 20px;
    color: rgba(81, 97, 114, 1);
    margin: 0;
}

#project--description {
    height: 65%;
    margin: 15px 10px;
    font-size: 20px;
    color: rgba(81, 97, 114, 0.9);
}

#project--toolbar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

#project--toolbar > div:hover {
    transform: scale(1.2);
    color:rgb(234, 88, 12)
}

#project--toolbar > div:active {
    transform: scale(1);
    color:rgb(234, 88, 12)
}

/* A N N O U N C E M E N T S */
.anncmts {
    padding: 20px 0px;
    display: flex;
    flex-flow: column wrap;
}

.anncmts-title {
    margin: 0 0 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: #15283c;
}

.anncmts-container {
    background-color: var(--header-background-color);
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgb(81 97 114 / 25%) 0px 0px 10px;
}

.anncmts:hover {
    transform: scale(1.03);
}

#anncmts--title {
    height: 10%;
    font-size: 18px;
    color: rgba(81, 97, 114, 1);
    margin: 0;
}

.anncmts-content:hover {
    transform: scale(1.03);
}

#anncmts--description {
    margin: 2.5px 10px 5px;
    font-size: 15px;
    color: rgba(81, 97, 114, 0.9);
    width: 15vw;
    overflow:hidden;
    text-overflow:ellipsis;
}